table{
	border: 1px solid #000;
	/*让每个单元格的外边框合并起来，更加好看*/
	border-collapse: collapse;
	/*设置字体大小和文本居中显示*/
	font-size: 20px;
	text-align: center;
	/*设置居中显示*/
	width: 50%;
	margin: auto;
}

table tr td,th{
	border: 1px solid #ccc;

}

table>tr>th{
	color: #3366ff;
	background: #fff;
}

/*这里的只会选中第一层的a标签*/
.name>a{
	text-decoration: none;
	color: #6633ff;
}

/*css写法总结 */
/*行内样式，内嵌样式，外联样式*/
/*css选择器，标签选择器，类选择器，id选择器，通用选择器*{}*/
/*包含选择器：table th tr，影响下门面所有的标签
子选择器：div>a 这里的子只包含下面的第一层a标签
*/
