div{
	background-image: linear-gradient(120deg, #155799, #159957);
}


登录框背景：
background-image: linear-gradient(120deg, #03A9F4, #9C27B0);


background-image: linear-gradient(120deg, #6a54f5, #7febf7);
